<div class="container">
  <div class="thumbnail" style="text-align:center">
    <%= image_tag @style.photo %>
    <%= @style.name %>
    (<%= @style.age %>)<br>
    직업: <%= @style.job %><br>
    <a href="/style/edit/<%= @style.id %>">수정하기</a>
    <a href="/style/destroy/<%= @style.id %>">삭제하기</a>
  </div>
</div>