<h1><%= @fashion.title %></h1>
<a href="/fashion/<%= @fashion.id %>/style/new">새로 만들기</a>
<div class="row">
  <% @fashion.styles.each do |style| %>
    <div class="col-md-3">
      <a href="/fashion/<%= style.fashion.id %>/style/<%= style.id %>">
        <div class="thumbnail" style="text-align:center">
          <%= image_tag style.photo %>
          <%= style.name %>
          (<%= style.age %>)<br>
          직업: <%= style.job %>
        </div>
      </a>
    </div>
  <% end %>
</div>